
# User input

Anything inputted from console will be a string type of value

In [7]:
fav_number= int(input("Enter your fav number: "))
fav_number

Enter your fav number: 6

6

# Python Data structure (Python Collection )

- List
- Dictionary
- Set 
- Tuple

# List

- []
- indices

In [11]:
fruits= ['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana']

In [12]:
print(fruits)

['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana']

In [13]:
print(type(fruits))

<class 'list'>

In [21]:
# index     0          1        2         3         4         5
fruits= ['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana', 'Zarifa']
# -ve       -6        -5         -4      -3         -2        -1

In [22]:
len(fruits)

6

In [23]:
#                     CRUDS
# Create
# Retrieve
# Update
# Delete
# Slice

In [24]:
empty_list= []

In [25]:
len(empty_list)

0

In [26]:
# Retrieval 
fruits[2]

'Mango'

In [27]:
fruits[-4]

'Mango'

In [29]:
#  Update

In [28]:
fruits[-1]= "Water melon"
fruits

['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana', 'Water melon']

# Adding more items in existing list

In [32]:
empty_list.append("laptop")
print(empty_list)

['laptop', 'laptop']

In [34]:
empty_list.append("PC")
print(empty_list)

['laptop', 'laptop', 'PC', 'PC']

In [36]:
empty_list.insert(2, "Keyboard")
print(empty_list)

['laptop', 'laptop', 'Keyboard', 'Keyboard', 'PC', 'PC']

In [37]:
empty_list.insert(20, "Keyboard")
print(empty_list)

['laptop', 'laptop', 'Keyboard', 'Keyboard', 'PC', 'PC', 'Keyboard']

In [41]:
empty_list[6]

'Keyboard'

In [42]:
staff = ['asif', 'saad', 'hassan', 'umer']
faculty = ['wasim', 'nasir', 'uzma']
employees= []

In [43]:
employees.append(staff)
employees

[['asif', 'saad', 'hassan', 'umer']]

In [44]:
len(employees)

1

In [45]:
employees.extend(faculty)

In [46]:
print(employees)

[['asif', 'saad', 'hassan', 'umer'], 'wasim', 'nasir', 'uzma']

In [47]:
employees= []

In [48]:
employees= staff + faculty

In [49]:
employees

['asif', 'saad', 'hassan', 'umer', 'wasim', 'nasir', 'uzma']

In [51]:
del employees[4]
employees

['asif', 'saad', 'hassan', 'umer', 'nasir', 'uzma']

In [52]:
employees.pop()

'uzma'

In [53]:
employees

['asif', 'saad', 'hassan', 'umer', 'nasir']

In [54]:
popped_item= employees.pop()

In [55]:
employees
popped_item

'nasir'

In [56]:
employees

['asif', 'saad', 'hassan', 'umer']

In [57]:
popped_item

'nasir'

In [58]:
popped_item= employees.pop(2)
print(employees)
popped_item

['asif', 'saad', 'umer']

'hassan'

In [59]:
employees.pop()

'umer'

In [60]:
employees.pop()

'saad'

In [61]:
employees.pop()

'asif'

In [62]:
employees.pop()

IndexError: pop from empty list

In [63]:
fruits

['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana', 'Water melon']

In [64]:
fruits.remove("Sharifa")

In [66]:
fruits

['Apple', 'Mango', 'Cherry', 'Banana', 'Water melon']

In [71]:
fruits.remove("Cherry")

In [72]:
fruits_eaten= fruits.copy()
fruits_bought= fruits

In [73]:
print(fruits)
print(fruits_eaten)
print(fruits_bought)

['Apple', 'Mango', 'Banana', 'Water melon']
['Apple', 'Mango', 'Banana', 'Water melon']
['Apple', 'Mango', 'Banana', 'Water melon']

In [74]:
fruits.remove("Banana")

In [75]:
print(fruits)
print(fruits_eaten)
print(fruits_bought)

['Apple', 'Mango', 'Water melon']
['Apple', 'Mango', 'Banana', 'Water melon']
['Apple', 'Mango', 'Water melon']

In [78]:
fruits.count('Mango')

1

In [79]:
fruits.index('Apple')

0

In [80]:
fruits_eaten.reverse()

In [81]:
fruits_eaten

['Water melon', 'Banana', 'Mango', 'Apple']

In [82]:
fruits_eaten.sort()

In [83]:
fruits_eaten

['Apple', 'Banana', 'Mango', 'Water melon']

In [85]:
fruits_eaten.sort(reverse=True)

In [86]:
fruits_eaten

['Water melon', 'Mango', 'Banana', 'Apple']

In [87]:
fruits_eaten.sort(reverse=False)
fruits_eaten

['Apple', 'Banana', 'Mango', 'Water melon']

In [88]:
fruits_eaten.sort(reverse=False)
fruits_eaten

['Apple', 'Banana', 'Mango', 'Water melon']

In [89]:
nums = [11, 22, 33 , 44, 55, 66, 77, 88, 99]

In [90]:
nums[3]

44

In [91]:
sliced= nums[2:5]
sliced

[33, 44, 55]

In [93]:
nums[7:1]

[]

In [94]:
nums[2:]

[33, 44, 55, 66, 77, 88, 99]

In [95]:
nums[:8]

[11, 22, 33, 44, 55, 66, 77, 88]

In [96]:
nums[-3:]

[77, 88, 99]

In [100]:
nums[2:8:2]

[33, 55, 77]

In [101]:
nums[-2:-7:1]

[]

In [102]:
nums[1:7:1]

[22, 33, 44, 55, 66, 77]

In [105]:
nums[7:1:-2]

[88, 66, 44]

In [122]:
text= ["my name is mustafa"]

In [123]:
text.split()

AttributeError: 'list' object has no attribute 'split'

In [120]:
" ".join(text.split()[::-1])

'mustafa is name my'

In [107]:
text[::-1]

'afatsum si eman ym'

In [110]:
text= ["my", "name", "is", "mustafa"]

In [111]:
text[::-1]

['mustafa', 'is', 'name', 'my']

In [112]:
" ".join(text)

'my name is mustafa'

In [124]:
" ".join(text.split()[::-1])

AttributeError: 'list' object has no attribute 'split'

In [125]:
text= "my name is mustafa"
" ".join(text.split()[::-1])

'mustafa is name my'

In [126]:
text= "my name is mustafa"
" ".join(text.split()[::-1])

'mustafa is name my'

In [127]:
a= [1, 2, 3]

In [128]:
a is a[:]

False

In [129]:
a= [1, 2, 3]

In [130]:
b=a[:]

In [131]:
b

[1, 2, 3]

In [132]:
a = [1, 2, 3, 4, 5]

In [133]:
a[2:3]= []
a

[1, 2, 4, 5]

In [135]:
a[2:2]= []
a

[1, 2, [], 5]

In [136]:
a = [1, 2, 3, 4, 5]

In [137]:
a[len(a):]= ['d','e']

In [138]:
a

[1, 2, 3, 4, 5, 'd', 'e']

In [139]:
a += ['c', 'f']

In [140]:
a

[1, 2, 3, 4, 5, 'd', 'e', 'c', 'f']

In [141]:
a[-1:]=[6, 7]

In [142]:
a

[1, 2, 3, 4, 5, 'd', 'e', 'c', 6, 7]

In [143]:
a = [1, 2, 7, 7]

In [144]:
a[2:3]=[3, 4, 5, 6]

In [145]:
a

[1, 2, 3, 4, 5, 6]

In [146]:
a[2:2]=[3, 4, 5, 6]

In [147]:
a

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [148]:
a[2:2]=[3, 4, 5, 6]

In [149]:
a

[1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 4, 5, 6]

In [150]:
a = [1, 2, 7, 8]

In [151]:
a[2:2]=[3, 4, 5, 6]
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [154]:
t= ('foo',)

In [155]:
type(t)

tuple